insert/src/main/mule/insert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4e0de23a-e729-46f7-a7f0-72cfb1e5c1c1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="72564f9a-ceb7-48d2-9bb3-ad72f312433d" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Sasi@123" database="db28" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="638b4818-be43-48b6-907b-d126f45ff15c" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Sasi@123" database="db28" />
	</db:config>
	<flow name="insertFlow" doc:id="5e69a846-6358-4cb2-9eb7-14aae07594b4" >
		<http:listener doc:name="Listener" doc:id="bedce446-e7fa-4084-be67-d213959f7af1" config-ref="HTTP_Listener_config" path="/Insert"/>
		<ee:transform doc:name="Transform Message" doc:id="18f2f696-1d0b-436a-8581-5d5f6ad874c8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 100 map 
{
 id: 200 + $$,
 name: "siva", 
 number: 1234567890,
  lname: "reddy"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="insertBatch_Job" doc:id="ea2ec6ec-f951-47df-96ae-1d5f10541ced" >
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="99a35ad4-9f6c-48b8-aea0-40489df49f92" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="07e56eb9-7020-4f11-b622-32b352d66fee" size="20">
						<logger level="INFO" doc:name="Logger" doc:id="3cc3cf48-6076-441b-95df-7758d4d41a5a" message="#[payload]" />
						<db:bulk-insert doc:name="Bulk insert" doc:id="64f02eca-bd48-41a0-94ad-1ded9c915852" config-ref="Database_Config1">
							<db:sql ><![CDATA[INSERT INTO db28.supployers(id, name, number, lname)
VALUES (:id, :name, :number, :lname);]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="f7a26bc4-4bec-4f91-8d3c-46690ff6e4dd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
